<section id="banner">
<div class="flex flex-col md:flex-row gap-8 items-start md:items-end justify-start ">
<pre class="ascii-banner text-[0.5rem] md:text-base text-blue1">
</pre>
<pre class="ascii-banner text-[0.37rem] md:text-base hidden">
 _____ ______   ___  ___  ________  ________  _____ ______   _____ ______   ___  ___          
|\   _ \  _   \|\  \|\  \|\_____  \|\   __  \|\   _ \  _   \|\   _ \  _   \|\  \|\  \         
\ \  \\\__\ \  \ \  \\\  \\|___/  /\ \  \|\  \ \  \\\__\ \  \ \  \\\__\ \  \ \  \ \  \        
 \ \  \\|__| \  \ \  \\\  \   /  / /\ \   __  \ \  \\|__| \  \ \  \\|__| \  \ \  \ \  \       
  \ \  \    \ \  \ \  \\\  \ /  /_/__\ \  \ \  \ \  \    \ \  \ \  \    \ \  \ \  \ \  \____  
   \ \__\    \ \__\ \_______\\________\ \__\ \__\ \__\    \ \__\ \__\    \ \__\ \__\ \_______\
    \|__|     \|__|\|_______|\|_______|\|__|\|__|\|__|     \|__|\|__|     \|__|\|__|\|_______|
</pre>
</div>
<p class="banner-description hidden text-orange2 my-4 text-xs md:text-base">
Welcome to stiffterm, enter <strong>help</strong> to get a list of available commands.
<br/>
Enjoy the vibes!
</p>
</section>
