.help-desc{
    color: var(--gray1);
    margin-block: 2em;
    padding-left: 2em;
    text-shadow: 0 0 3px var(--gray1);

    li{
        margin-block: 1em;
    }
}

.help-desc__title{
    font-weight:bolder;
    display:inline-block;
    width: 8em;
}

.banner-description{
    text-shadow: 0 0 3px var(--orange1);
}

#term-host{
    text-shadow:0 0 3px var(--aqua1);
}

#term-input,
.basic-term-glow{
    text-shadow:0 0 3px var(--foreground);
}

.ascii-wolf{
    text-shadow:0 0 5px var(--blue1);
}
