{{ define "main" }}
    <div class="crt basic-term-glow">
        {{ partial "header.html" . }}

        <div class="p-4 lg:w-4/5 md:mx-auto">

            <div class="flex gap-2 justify-center flex-wrap">
                <h2>Tags:</h2>
                {{ range .Site.Taxonomies.tags.ByCount }}
                    {{ partial "projects/tags.html" (.Page.LinkTitle | lower) }}
                {{ end }}
            </div>

          {{ .Content }}
          <div class="grid grid-cols-basic gap-4 lg:gap-0 lg:grid-cols-1">
              {{ range .Pages }}
                  {{ partial "projects/card.html" . }}
              {{ end }}
          </div>
        </div>
    </div>
{{ end }}
