<section id='{{urlize .LinkTitle}}-cards' class="flex flex-col shadow-lg lg:flex-row my-8 rounded-md overflow-hidden bg-muted">
    {{ $image := resources.Get "images/WIP.webp" }}

    {{ with .Resources.GetMatch "featured_image.webp" }}
        {{$image = . }}
    {{ end }}

    <div class="lg:w-[35%] overflow-hidden">
        <a href="{{ .RelPermalink }}" class="block h-full w-full" title="view">
            <img 
                src="{{ $image.RelPermalink }}" 
                class="transition transform hover:scale-125 active:scale-125 
                    focus:scale-125 w-full h-full object-cover object-center"
                alt="{{ .LinkTitle }}" 
            />
        </a>
    </div>

    <div class="flex flex-col gap-2 justify-between p-4 md:p-8 lg:w-[65%]">
        <div>
            <div class="flex gap-2 justify-between items-center">
                <h2 class="text-xl font-bold"><a href="{{ .RelPermalink }}" class="project-card-link transition text-yellow2 hover:text-orange2">{{ .LinkTitle }}</a></h2>

            </div>
            {{ .Summary }}
        </div>
        <div class="flex items-center gap-2">
                
            {{ range .Params.Tags }}
                {{ $name := "not-found" }}
                {{ if eq . "node" }}
                    {{ $name = "node-js"}}
                {{ end }}
                
                {{ if eq . "react" }}
                    {{ $name = "react" }}
                {{ end }}

                {{ if eq . "next" }}
                    {{ $name = "next" }}
                {{ end }}

                {{ $icon := dict
                  "vendor" "fab"
                  "name" $name
                }}


                <a href="https://react.dev" title="React Docs" target="_blank" class="text-3xl hover:text-blue2 cursor-pointer">
                    {{ partial "icons/icon" $icon }}
                </a>

            {{ end }}

        </div>
    </div>
</section>

